In [19]:
import pandas as pd
import numpy as np

In [128]:
df1 = pd.read_csv('dataset_1.csv')
df1

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,01-01-2011,1,0,1,0,False,6,1,0.24
1,2,01-01-2011,1,0,1,1,False,6,1,0.22
2,3,01-01-2011,1,0,1,2,False,6,1,0.22
3,4,01-01-2011,1,0,1,3,False,6,1,0.24
4,5,01-01-2011,1,0,1,4,False,6,1,0.24
...,...,...,...,...,...,...,...,...,...,...
605,606,28-01-2011,1,0,1,11,False,5,3,0.18
606,607,28-01-2011,1,0,1,12,False,5,3,0.18
607,608,28-01-2011,1,0,1,13,False,5,3,0.18
608,609,28-01-2011,1,0,1,14,False,5,3,0.22
609,610,28-01-2011,1,0,1,15,False,5,2,0.20

In [287]:
df2 = pd.read_csv('dataset_2.csv')

In [203]:
# Merge on the 'instant' column
merged_df = pd.merge(df1, df2, on='instant')
print(merged_df.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0        1  01-01-2011       1   0     1   0    False        6           1
1        2  01-01-2011       1   0     1   1    False        6           1
2        3  01-01-2011       1   0     1   2    False        6           1
3        4  01-01-2011       1   0     1   3    False        6           1
4        5  01-01-2011       1   0     1   4    False        6           1

   temp  Unnamed: 0   atemp   hum  windspeed  casual  registered  cnt
0  0.24           0  0.2879  0.81        0.0       3          13   16
1  0.22           1  0.2727  0.80        0.0       8          32   40
2  0.22           2  0.2727  0.80        0.0       5          27   32
3  0.24           3  0.2879  0.75        0.0       3          10   13
4  0.24           4  0.2879  0.75        0.0       0           1    1

In [211]:
#  Step 4: Check basic info
print("Shape of dataset:", merged_df.shape)

Shape of dataset: (610, 17)

In [184]:
print("Columns:", merged_df.columns.tolist())

Columns: ['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'weathersit', 'temp']

In [186]:
print("Data types:\n", merged_df.dtypes)

Data types:
 instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday          bool
weekday         int64
weathersit      int64
temp          float64
dtype: object

In [223]:
# Drop unnecessary columns if any (e.g. unnamed index columns)
merged_df = merged_df.loc[:, ~ merged_df.columns.str.contains('^Unnamed')]
# Check for missing values
print(" Missing values:\n", merged_df.isnull().sum())

🔍 Missing values:
 instant        0
dteday         0
season         0
yr             0
mnth           0
hr             0
holiday        0
weekday        0
weathersit     0
temp           0
atemp         11
hum            0
windspeed      0
casual         0
registered     0
cnt            0
dtype: int64

In [225]:
# Identify unique values in categorical columns
print("Unique seasons:", merged_df['season'].unique())
print("Unique weather conditions:", merged_df['weathersit'].unique())
print("Unique holidays:", merged_df['holiday'].unique())

Unique seasons: [1]
Unique weather conditions: [1 2 3 4]
Unique holidays: [False  True]

In [192]:
# Central Tendency (Mean, Median, Mode)
print("\n Central Tendency:")
print("Mean:\n", merged_df.mean(numeric_only=True))
print("Median:\n", merged_df.median(numeric_only=True))
print("Mode:\n", merged_df.mode(numeric_only=True).iloc[0])

 Central Tendency:
Mean:
 instant       305.500000
season          1.000000
yr              0.000000
mnth            1.000000
hr             11.795082
holiday         0.039344
weekday         2.977049
weathersit      1.477049
temp            0.196885
dtype: float64
Median:
 instant       305.5
season          1.0
yr              0.0
mnth            1.0
hr             12.0
holiday         0.0
weekday         3.0
weathersit      1.0
temp            0.2
dtype: float64
Mode:
 instant           1
season          1.0
yr              0.0
mnth            1.0
hr             12.0
holiday       False
weekday         6.0
weathersit      1.0
temp            0.2
Name: 0, dtype: object

In [231]:
# Save the combined clean dataset
df.to_csv("marge_dataset.csv", index=False)

In [283]:
df3 = pd.read_csv('dataset_3.csv')
df3

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,620,29-01-2011,1,0,1,1,False,6,1,0.22,0.2273,0.64,0.1940,0,20,20
1,621,29-01-2011,1,0,1,2,False,6,1,0.22,0.2273,0.64,0.1642,0,15,15
2,622,29-01-2011,1,0,1,3,False,6,1,0.20,0.2121,0.64,0.1343,3,5,8
3,623,29-01-2011,1,0,1,4,False,6,1,0.16,0.1818,0.69,0.1045,1,2,3
4,624,29-01-2011,1,0,1,6,False,6,1,0.16,0.1818,0.64,0.1343,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,615,28-01-2011,1,0,1,20,False,5,2,0.24,0.2273,0.70,0.1940,1,61,62
386,616,28-01-2011,1,0,1,21,False,5,2,0.22,0.2273,0.75,0.1343,1,57,58
387,617,28-01-2011,1,0,1,22,False,5,1,0.24,0.2121,0.65,0.3582,0,26,26
388,618,28-01-2011,1,0,1,23,False,5,1,0.24,0.2273,0.60,0.2239,1,22,23
389,619,29-01-2011,1,0,1,0,False,6,1,0.22,0.1970,0.64,0.3582,2,26,28

In [275]:
df3 = df3.rename(columns={'dteday': 'date','weathersit': 'weather','hum': 'humidity','cnt': 'count'
})

Shape of dataset: (390, 16)

In [275]:
print("Shape of dataset:", df3.shape)

Shape of dataset: (390, 16)

In [281]:
print("Columns:", df3.columns.tolist())

Columns: ['instant', 'date', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'weather', 'temp', 'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count']

In [279]:
print("Data types:\n",df3.dtypes)

Data types:
 instant         int64
date           object
season          int64
yr              int64
mnth            int64
hr              int64
holiday          bool
weekday         int64
weather         int64
temp          float64
atemp         float64
humidity      float64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [269]:
df3 = df3.loc[:, ~df3.columns.str.contains('^Unnamed')]

In [271]:
print(" Missing values:\n", df3.isnull().sum())

 Missing values:
 instant       0
date          0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [285]:
# Identify unique values in categorical columns
print("Unique seasons:", df3['season'].unique())
print("Unique weather conditions:", df3['weathersit'].unique())
print("Unique holidays:", df3['holiday'].unique())

Unique seasons: [1]
Unique weather conditions: [1 2 3]
Unique holidays: [False]

In [255]:
# Central Tendency (Mean, Median, Mode)
print("\n Central Tendency:")
print("Mean:\n", df3.mean(numeric_only=True))
print("Median:\n", df3.median(numeric_only=True))
print("Mode:\n", df3.mode(numeric_only=True).iloc[0])

 Central Tendency:
Mean:
 instant       805.500000
season          1.000000
yr              0.000000
mnth            1.800000
hr             11.687179
holiday         0.000000
weekday         2.989744
weathersit      1.484615
temp            0.220000
atemp           0.230424
hum             0.613769
windspeed       0.179416
casual          5.576923
registered     57.002564
cnt            62.579487
dtype: float64
Median:
 instant       805.5000
season          1.0000
yr              0.0000
mnth            2.0000
hr             12.0000
holiday         0.0000
weekday         3.0000
weathersit      1.0000
temp            0.2200
atemp           0.2273
hum             0.6000
windspeed       0.1642
casual          3.0000
registered     48.0000
cnt            52.0000
dtype: float64
Mode:
 instant          611
season           1.0
yr               0.0
mnth             2.0
hr               0.0
holiday        False
weekday          6.0
weathersit       1.0
temp            0.22
atemp         0.2273
hum             0.93
windspeed        0.0
casual           0.0
registered       1.0
cnt              2.0
Name: 0, dtype: object

In [289]:
# Save the combined clean dataset
df3.to_csv("df3_dataset.csv", index=False)